<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CanBuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NotBuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{1,52},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{28,207},{25,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TB_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{1,207},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TB_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,49}</string>
                <key>spriteSourceSize</key>
                <string>{31,49}</string>
                <key>textureRect</key>
                <string>{{1,146},{31,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TB_CanBuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TB_NotBuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{1,52},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TB_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{1,103},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TB_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1,179},{26,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TBList.png</string>
            <key>size</key>
            <string>{54,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be0049dd5f0320dd7f758e71100b3fc9:b0f5cc513f2693817b5b6c1ac715d890:dee737659b5afd8c847a0ecdb1eaf234$</string>
            <key>textureFileName</key>
            <string>TBList.png</string>
        </dict>
    </dict>
</plist>
