<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,151}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,37}</string>
                <key>spriteSourceSize</key>
                <string>{52,37}</string>
                <key>textureRect</key>
                <string>{{55,152},{52,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>updata_able.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,34}</string>
                <key>spriteSourceSize</key>
                <string>{49,34}</string>
                <key>textureRect</key>
                <string>{{152,1},{49,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>update_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{1,152},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>update_unable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,37}</string>
                <key>spriteSourceSize</key>
                <string>{52,37}</string>
                <key>textureRect</key>
                <string>{{109,152},{52,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BaseFunc.png</string>
            <key>size</key>
            <string>{187,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:394dab640a9cae19a2a4493a663ca46e:b0dd93a95880e38f62af076e6fb66acd:ea46bd170ab3274c0af465af54c837af$</string>
            <key>textureFileName</key>
            <string>BaseFunc.png</string>
        </dict>
    </dict>
</plist>
