<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biao_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biao_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{82,89}</string>
                <key>textureRect</key>
                <string>{{80,0},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>biao.png</string>
            <key>size</key>
            <string>{162,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bcc00fccfd5266a3680853d8ae86968:052edded11eb993c1bd90352d64ce93e:8193c9bcf0985c416499ddaa7db955b2$</string>
            <key>textureFileName</key>
            <string>biao.png</string>
        </dict>
    </dict>
</plist>
