<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossYellow_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossYellow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,143}</string>
                <key>spriteSourceSize</key>
                <string>{199,143}</string>
                <key>textureRect</key>
                <string>{{0,144},{199,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BossYellow.png</string>
            <key>size</key>
            <string>{200,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa9a611571499c417e96d44c14005dd6:bef4463229c8e4b73e01d13a1c062b3d:4c919f8f7583c3e0c56fd49e261f214e$</string>
            <key>textureFileName</key>
            <string>BossYellow.png</string>
        </dict>
    </dict>
</plist>
