<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuck_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,91}</string>
                <key>spriteSourceSize</key>
                <string>{100,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,85}</string>
                <key>spriteSourceSize</key>
                <string>{99,85}</string>
                <key>textureRect</key>
                <string>{{0,91},{99,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fuck.png</string>
            <key>size</key>
            <string>{176,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:057e6280345b627b6ff031346e2d6fdb:27eea9dc80bd1d94d2bf791ea4c14688:21eb0b21b6e3e77355f0b9a273ca2ca8$</string>
            <key>textureFileName</key>
            <string>fuck.png</string>
        </dict>
    </dict>
</plist>
