<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_start_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,119}</string>
                <key>spriteSourceSize</key>
                <string>{115,119}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_start_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,95}</string>
                <key>spriteSourceSize</key>
                <string>{106,95}</string>
                <key>textureRect</key>
                <string>{{0,119},{106,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_start.png</string>
            <key>size</key>
            <string>{115,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4093c6dbd2256a04c1a3076ff6703fc:45d79deafd2f59604a00125c7e63049a:183a719feb8abe73f97d80130e5baca4$</string>
            <key>textureFileName</key>
            <string>monster_start.png</string>
        </dict>
    </dict>
</plist>
