<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pig_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{58,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pig_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{58,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pig.png</string>
            <key>size</key>
            <string>{124,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08768048c3cdc4cbcbc30ba3b5d050e4:504ddcd6c2d08f97139766e356c937fd:cc7484018991b35fd066a21f6d8a9d46$</string>
            <key>textureFileName</key>
            <string>pig.png</string>
        </dict>
    </dict>
</plist>
