<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,86}</string>
                <key>spriteSourceSize</key>
                <string>{99,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{99,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,83}</string>
                <key>spriteSourceSize</key>
                <string>{103,83}</string>
                <key>textureRect</key>
                <string>{{0,86},{103,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheep.png</string>
            <key>size</key>
            <string>{169,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8449f60263240475a9764f7218c8f180:18a432a287282682915ac9467b6d4f25:13084b924613a7ef2ca9c6df3339651b$</string>
            <key>textureFileName</key>
            <string>sheep.png</string>
        </dict>
    </dict>
</plist>
