<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,113}</string>
                <key>spriteSourceSize</key>
                <string>{107,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{107,0},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star.png</string>
            <key>size</key>
            <string>{207,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f46ae07f69d2e62de72c4944cb4800:fecd92e30eedb0f26f02f7c6b1debffe:3529feb3fcfae6daa554c62bd8c6844e$</string>
            <key>textureFileName</key>
            <string>star.png</string>
        </dict>
    </dict>
</plist>
