<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellowbat_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowbat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,72}</string>
                <key>spriteSourceSize</key>
                <string>{99,72}</string>
                <key>textureRect</key>
                <string>{{0,62},{99,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yellowbat.png</string>
            <key>size</key>
            <string>{99,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd91f849526fad109e327beca7975e89:b4e32881b1f828cc35ec7b6ed0b80038:c39d7b2a266331e7f3fda15194d747d2$</string>
            <key>textureFileName</key>
            <string>yellowbat.png</string>
        </dict>
    </dict>
</plist>
