<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Carrot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{1,311},{56,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,77}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{52,73}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{1,236},{52,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,75}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{1,159},{52,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,77}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{1,80},{54,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Carrots.png</string>
            <key>size</key>
            <string>{56,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b15dd306065351a6d1249490179343:505f2301afdcedb8a854da8fa5a19f7b:0ac5acb09ba5c788ec328c150d886205$</string>
            <key>textureFileName</key>
            <string>Carrots.png</string>
        </dict>
    </dict>
</plist>
