<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{92,1},{86,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{89,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{71,84}</string>
                <key>spriteSourceSize</key>
                <string>{99,84}</string>
                <key>textureRect</key>
                <string>{{181,1},{71,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monsters.png</string>
            <key>size</key>
            <string>{253,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee71ae4f648d816b47b9e55b8edc31fe:07bab42f7721d931264d50386232072c:8dc5df745210d588f59bd7f4bfa0c6a4$</string>
            <key>textureFileName</key>
            <string>Monsters.png</string>
        </dict>
    </dict>
</plist>
