<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TSun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{193,42},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TSun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{193,1},{39,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TSun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{156,197},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TSun_CanBuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{1,197},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TSun_NotBuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{55,197},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TSun_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{107,197},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TSun_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,194}</string>
                <key>spriteSourceSize</key>
                <string>{190,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TSunList.png</string>
            <key>size</key>
            <string>{232,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6cb40f438dd5d085c1e537431e11ea3:57bf88df60814329d2a8c4d33ea17b8f:faa3e9e5c5b9af0a183ecc8c7a0eba33$</string>
            <key>textureFileName</key>
            <string>TSunList.png</string>
        </dict>
    </dict>
</plist>
