<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bong_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,55}</string>
                <key>textureRect</key>
                <string>{{275,88},{41,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bong_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,75}</string>
                <key>spriteSourceSize</key>
                <string>{85,75}</string>
                <key>textureRect</key>
                <string>{{275,1},{85,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bong_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,108}</string>
                <key>textureRect</key>
                <string>{{167,1},{124,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bong_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,160}</string>
                <key>spriteSourceSize</key>
                <string>{164,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bong.png</string>
            <key>size</key>
            <string>{351,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:587d7cbc43a6ffb6fdfbcb27c6a12c3e:f00b53a6c4f9894dc852a639def9fd8f:6f4dc0ccc271421c4a2b2daf69dae915$</string>
            <key>textureFileName</key>
            <string>bong.png</string>
        </dict>
    </dict>
</plist>
